---
import { Image } from "@astrojs/image/components";
import config from "@config/config.json";
import mletter from '/images/mletter.svg'
const { src } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;
---

<div class="order-0 flex items-center">
  <a href="/" class="navbar-brand group flex items-center">
    <img class="w-16 mr-2 transition-transform hover:rotate-[10deg] hover:fill-cyan-700" src={mletter} alt={title}>
    <span class="whitespace-nowrap font-bold text-2xl">Mind Chrono</span>
  </a>
</div>