---
import { getCollection, type CollectionEntry } from "astro:content"

// component imports
import PostCard from "@components/PostCard"
import Base from "@layouts/Base.astro"
import TitlePost from "@components/TitlePost"

export async function getStaticPaths() {
    const allPosts = (await getCollection("posts"))
        .filter((post) => !post.data.draft)
        .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
    const uniqueCats = [...new Set(allPosts.map((post) => post.data.category))]

    return uniqueCats.map((cat) => {
        const filteredPosts = allPosts.filter((post) =>
            post.data.category.includes(cat),
        )
        return {
            params: { cat },
            props: { posts: filteredPosts },
        }
    })
}
const { cat } = Astro.params
const { posts } = Astro.props
---

<Base>
    <section
    class="container mt-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8"
    >
        <TitlePost title=`category: ${cat}` />
        {posts.map((post) => <PostCard data={post.data} slug={post.slug} />)}
    </section>
</Base>
