---
import { getCollection } from "astro:content"
import Carousel from "@components/Carousel"

import Base from "@layouts/Base.astro"
import CategoryList from "@components/CategoryList"

const latestPost = (await getCollection("posts"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())[0]
---

<Base>
    <section class="container mt-4">
        <div class="mb-8">
            <Carousel data={latestPost.data} slug={latestPost.slug} />
        </div>
        <div class="flex justify-end">
            <CategoryList />
        </div>
    </section>
</Base>