---
import { getCollection } from "astro:content"
import GlassCard from "@components/GlassCard"

import Base from "@layouts/Base.astro"

const latestPost = (await getCollection("posts"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())[0]
---

<Base>
    <section
        class="container grid grid-cols-1 sm:grid-cols-2 gap-8 sm:[&>*:first-child]:col-span-2"
    >
        <GlassCard data={latestPost.data} slug={latestPost.slug} />
        
    </section>
</Base>
