---
import Minion_logo from "@assets/minion_logo.svg"
---
<div class="flex items-center gap-4">
    <a href="/" class="flex items-center gap-2">
        <Minion_logo width={64} height={64} fill="currentColor" />
    </a>
</div>