---
import siteData from "site-config.json"
import ThemeIcon from './ThemeIcon.astro';
import Logo from "./Logo.astro";
---
<nav class="fixed top-0 left-0 w-full z-50 backdrop-blur-md bg-white/10 shadow-lg transition-all duration-300">
    <div class="max-w-6xl mx-auto px-4 flex items-center justify-between">
      <div class="flex items-center space-x-4">
        <Logo />
        <a href="/" id="siteNameId" class="text-3xl font-sm text-gray-800 dark:text-gray-200 md:block hidden">{siteData.title}</a>
      </div>
      
      <div class="flex items-center space-x-6">
        <nav class="flex space-x-4">
          <a href="/posts" class="text-gray-700 font-mono hover:text-sky-500">
            posts
          </a>
          <a href="/about" class="text-gray-700 font-mono hover:text-sky-500">
            about
          </a>
          <a href="/book" class="text-gray-700 font-mono hover:text-sky-500">
            books
          </a>
          <ThemeIcon />
        </nav>
      </div>
    </div>
  </nav>