---
const { heading } = Astro.props
---

<li class="flex flex-col">
    <a href={"#" + heading.slug} class="hover:ring-1 hover:ring-sky-500 hover:text-sky-500 px-1">
        {heading.text}
    </a>
    {
        heading.subheadings.length > 0 && (
            <ul class="ml-3">
                {heading.subheadings.map((subheading) => (
                    <Astro.self heading={subheading} />
                ))}
            </ul>
        )
    }
</li>
